<aside>
<ul id="sidebar-nav"> 
<li><a href="#">KULLANICI İŞLEMLERİ</a>
<ul class="drop" style="display: block;">
     <li><a href="/yonetim/uyeler"><img src="/Areas/Admin/Content/images/icons/16/page.png">Üye Listesi</a></li></ul>
</li>
</ul>
<br /> <br /> 
      
</aside>



