<aside>
<ul id="sidebar-nav"> 
<li><a href="#">MESAJLAR</a>
<ul class="drop" style="display: block;">
     <li><a href="/yonetim/iletisim-mesajlari"><img src="/Areas/Admin/Content/images/icons/16/page.png">İletişim Mesajları</a></li>
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>
